@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ClementHealthCare</h1>
    <p>WE are providing Proffession HealthCare Service</a>.</p>
</div>
