@page
@model IshimweHealthcare.Pages.Admin.adminModel
@{
}
<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
             
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Patients/Index">Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MedicalRecord/Index">Medical</a>
                        </li>
                        <li class="nav-item" style="margin-left: 10px">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Logout</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>-->
            </div>
        </nav>
    </head>
    <p>
        <div class="text-center">
            <h1 class="display-4">Admin</h1>
            Welcome dear Admin.......
        </div>
     </p>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - IshimweHealthcare - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
